{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('todo_list') }}" title="Home page">Home</a></li>
        <li class="active">Task list</li>
    </ol>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Owner</th>
            <th>TODO</th>
            <th>Description</th>
            <th>Due date</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>&nbsp;</th>
            <th>&nbsp</th>
            <th>&nbsp</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        <h2 class="page-header">Task List</h2>

        {% if todos is defined %}
            {% for todo in todos %}
            <tr>
                {% if todo.user.username == 'admin' %}
                    <th scope="row">Anonyme</th>
                {% else %}
                    <th scope="row">{{ todo.user.username }}</th>
                {% endif %}
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.dueDate|date('F j, Y, g:i a') }}</td>

                {% if is_granted('ROLE_ADMIN') %}


               <td><a href="{{ path('todo_details', {'id': todo.id}) }}" class="btn btn-success" title="View task">View</a></td>
                <td><a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn btn-primary" title="Edit task">Edit</a></td>
                <td><a href="{{ path('todo_delete', {'id': todo.id}) }}" class="btn btn-danger" title="Delete task">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            No
        {% endif %}
        </tbody>
    </table>
{% endblock %}
