{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">My account</h2>
    <h3>Upload picture</h3>

    <form class="upload-form" data-upload-uri="{{ uploadUri }}">
        <div class="form-group">
            <label for="picture-file">Picture</label>
            <input type="file" class="form-control-file" id="picture-file">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            var $form = $('.upload-form');
            var uri = $form.data().uploadUri;

            $(document).on('submit', function(e){
                e.preventDefault();
                var file = $('#picture-file')[0].files[0];
                var formData = new FormData();
                formData.append('file', file);
                $.ajax({
                    url: uri,
                    method: 'post',
                    processData: false,
                    contentType: false,
                    data: formData,
                    processData: false,
                    success: function(data){
                        alert('success')
                    }
                })
            })
        });

    </script>

{% endblock %}

