{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="page-header">My account</h2>

    {% if account is defined %}

        <div>
            <div>
                <img src="/uploads/pictures/{{ account[0].picture }}">
            </div>
            <div>
                <p>{{ account[0].username }}</p>
            </div>
            <div>
                <p>{{ account[0].email }}</p>
            </div>
            <div>
                <p>{{ account[0].isActive }}</p>
            </div>
        </div>

        <a href="{{ path('account_edit') }}" class="btn btn-primary" title="Edit account">Edit</a>

    {% else %}
        No
    {% endif %}
    <a href="{{ path('account_edit_picture') }}"><button class="btn btn-default">Edit profile's picture</button></a>

{% endblock %}
