{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}



            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="_password" />
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                #}
                <input type="hidden" name="_target_path" value="/todos" />

                <button type="submit" class="btn btn-primary">login</button>
            </form>

    <a href="{{ path('user_registration') }}" title="Registration">Registration</a>
{% endblock %}